.main{
    height: 100vh;
  }

  .sidebar{
    background-color: #000;
    color: #fff;
    
  }

  .sidebar a{
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 20px 40px;

  }

  .sidebar a:hover{
    background-color: #222;
  }

  .sidebar a.active{
    background-color: #222;
    border-right: solid 4px rgb(255, 166, 0);
  }

  .content{
    padding: 10px;
    background-color: rgb(128, 128, 128);
    color: rgb(255, 255, 255);
  }

  .card-data{
    border: solid 1px;
    color: #000;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 5px 5px;
  }

  .card-data.book{
    background-color: rgb(0, 128, 128);
  }

  .card-data.category{
    background-color: rgb(75, 0, 130);
  }

  .card-data.user{
    background-color: rgb(9, 255, 0);
  }

  .card-data i{
    font-size: 50px;
  }

  .card-desc{
    font-size: 30px;
  }

  .card-count{
    font-size: 30px;
  }